In [2]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
#the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
#[1980, 1981, 1982, 1983, 1984, 1985].


year_list=[1996,1997,1998,1999,2000]

In [5]:
print("year_list",":-",year_list)

year_list :- [1996, 1997, 1998, 1999, 2000]

In [10]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
#first year.

year_list[2]                                # my year of list of third b_day list start from 0 on words

print("my third birthday in year_list",":-",year_list[2])

my third birthday in year_list :- 1998

In [12]:
# 3.In the years list, which year were you the oldest?
        
year_list[4]                                   # I am oldest in the year_list start from 0 on words
print("I am oldest in year_list",":-",year_list[4])

I am oldest in year_list :- 2000

In [19]:
#4. Make a list called things with these three strings as elements:"mozzarella", "cinderella","salmonella"

things=["mozzarella", "cinderella","salmonella"]

In [20]:
things

['mozzarella', 'cinderella', 'salmonella']

In [37]:
#5. Capitalize the element in things that refers to a person and then print the list. Did it change the 
#element in the list?"""

things=["mozzarella", "cinderella","salmonella"]
things1 = [i.upper() for i in things]
print(things1)

# No it doesnot change the elements in the list it just capitalize the words in list

['MOZZARELLA', 'CINDERELLA', 'SALMONELLA']

In [159]:
for i in things:
    print(i.capitalize())
# No it doesnot change the elements in the list it just capitalize the words in list

Mozzarella
Cinderella
Salmonella
Groucho
Groucho
Chico
Harpo

In [39]:
things=["mozzarella", "cinderella","salmonella"]

for i in things:
    print(i.upper())

MOZZARELLA
CINDERELLA
SALMONELLA

In [72]:
 # 6. Make a surprise list with the elements "Groucho", "Chico",and "Harpo".
surprise =[ "Groucho", "Chico","Harpo"]

In [73]:
surprise

['Groucho', 'Chico', 'Harpo']

In [151]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

surprise[-1].lower()

'harpo'

In [155]:
surprise[-1][::-1]      # reverse it

'oprah'

In [156]:
surprise[-1][::-1].upper()  # capitalize

'OPRAH'

In [98]:
surprise = ["Groucho", "Chico","Harpo"]
for i in range(len(s)):
    s[i] = s[i].lower()
print(s)

['groucho', 'chico', 'harpo']

In [99]:
surprise.reverse()

In [101]:
surprise

['groucho', 'chico', 'harpo']

In [103]:
things

['mozzarella',
 'cinderella',
 'salmonella',
 'Groucho',
 'Groucho',
 'Chico',
 'Harpo']

In [105]:
for i in surprise:
    print(i.upper())

GROUCHO
CHICO
HARPO

In [106]:
# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

e2f = {
  "dog":"chien",
  "cat":"chat",
  "warls":"mouse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'warls': 'mouse'}

In [113]:
# 9. Write the French word for walrus in your three-word dictionary e2f.

e2f = {
  "dog":"chien",
  "cat":"chat",
  "warls":"mouse"
}
French = e2f["warls"]
print(French)

mouse

In [127]:
# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

f2e = {
    "chien": "dog",
    "chat": "cat",
    "mouse": "warls"
}
x =e2f.items()
x1 = f2e.items()
print("These are the words from English-to-French", ":-",x)
print("These are the words from French-To-English",":-",x1)

These are the words from English-to-French :- dict_items([('dog', 'chien'), ('cat', 'chat'), ('warls', 'mouse')])
These are the words from French-To-English :- dict_items([('chien', 'dog'), ('chat', 'cat'), ('mouse', 'warls')])

In [146]:
#11. Print the English version of the French word chien using f2e.


f2e['chien']

'dog'

In [147]:
# 12. Make and print a set of English words from the keys in e2f.
e2f = {
  "dog":"chien",
  "cat":"chat",
  "warls":"mouse"
}
keys =e2f.keys()
print(keys)

e2f.keys()

dict_keys(['dog', 'cat', 'warls'])

dict_keys(['dog', 'cat', 'warls'])

In [141]:
"""13. Make a multilevel dictionary called life. Use these strings for the topmost keys: "animals","plants",
and "other". Make the "animals" key refer to another dictionary with the keys "cats" "octopi", and
"emus" Make the "cats" key refer to a list of strings with the values "Henri", "Grumpy", and "Lucy".
Make all the other keys refer to empty dictionaries."""



life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [142]:
# 14. Print the top-level keys of life.


life.keys()

dict_keys(['animals', 'plants', 'other'])

In [143]:
# 15. Print the keys for life['animals'].

life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [145]:
#16. Print the values for life["animals"]["cats"]

life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']